apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: great-expectations
  namespace: datalyptica-management
  labels:
    app: great-expectations
    layer: analytics
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: great-expectations
