---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: postgresql-pdb
  namespace: datalyptica-storage
  labels:
    app: postgresql
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: postgresql
