apiVersion: v1
kind: ServiceAccount
metadata:
  name: postgresql
  namespace: datalyptica-storage
  labels:
    app: postgresql
    cluster-name: postgresql-ha
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: postgresql-patroni
  namespace: datalyptica-storage
  labels:
    app: postgresql
    cluster-name: postgresql-ha
rules:
  - apiGroups:
      - ""
    resources:
      - endpoints
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - services
    verbs:
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: postgresql-patroni
  namespace: datalyptica-storage
  labels:
    app: postgresql
    cluster-name: postgresql-ha
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: postgresql-patroni
subjects:
  - kind: ServiceAccount
    name: postgresql
    namespace: datalyptica-storage
