---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: kafka-pdb
  namespace: datalyptica-control
  labels:
    app: kafka
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: kafka
