apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: redis-pdb
  namespace: datalyptica-management
  labels:
    app: redis
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: redis
