apiVersion: v1
kind: Service
metadata:
  name: redis-headless
  namespace: datalyptica-management
  labels:
    app: redis
    component: cache
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    app: redis
  ports:
    - name: redis
      port: 6379
      targetPort: redis
      protocol: TCP
    - name: sentinel
      port: 26379
      targetPort: sentinel
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: datalyptica-management
  labels:
    app: redis
    component: cache
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
    - name: redis
      port: 6379
      targetPort: redis
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: redis-sentinel
  namespace: datalyptica-management
  labels:
    app: redis
    component: sentinel
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
    - name: sentinel
      port: 26379
      targetPort: sentinel
      protocol: TCP
