apiVersion: v1
kind: ServiceAccount
metadata:
  name: jupyterhub
  namespace: datalyptica-management
  labels:
    app: jupyterhub
    layer: analytics
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: jupyterhub
  namespace: datalyptica-management
  labels:
    app: jupyterhub
    layer: analytics
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - persistentvolumeclaims
    verbs:
      - get
      - list
      - watch
      - create
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: jupyterhub
  namespace: datalyptica-management
  labels:
    app: jupyterhub
    layer: analytics
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: jupyterhub
subjects:
  - kind: ServiceAccount
    name: jupyterhub
    namespace: datalyptica-management
