scope: datalyptica
namespace: /db/
name: ${PATRONI_NAME}

restapi:
  listen: 0.0.0.0:8008
  connect_address: ${PATRONI_NAME}:8008
  authentication:
    username: ${PATRONI_API_USERNAME}
    password: ${PATRONI_API_PASSWORD}

etcd3:
  hosts: etcd-1:2379,etcd-2:2379,etcd-3:2379
  protocol: http
  ttl: 30
  retry_timeout: 10
  use_proxies: false

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        max_connections: 100
        shared_buffers: 256MB
        wal_level: logical
        hot_standby: "on"
        max_wal_senders: 10
        max_replication_slots: 10
        wal_keep_segments: 8
        archive_mode: "on"
        archive_command: "cp %p /var/lib/postgresql/archive/%f"
        archive_timeout: 1800s
        log_destination: "stderr"
        logging_collector: "on"
        log_directory: "log"
        log_filename: "postgresql-%Y-%m-%d_%H%M%S.log"
        log_rotation_age: 1d
        log_rotation_size: 100MB
        log_min_duration_statement: 1000
        log_checkpoints: "on"
        log_connections: "on"
        log_disconnections: "on"
        log_lock_waits: "on"
        log_temp_files: -1
        log_autovacuum_min_duration: 0
        log_error_verbosity: verbose
        track_activities: "on"
        track_counts: "on"
        track_io_timing: "on"
        track_functions: all
        stats_temp_directory: "pg_stat_tmp"
        autovacuum: "on"
        autovacuum_max_workers: 3
        autovacuum_naptime: 1min
        datestyle: "iso, mdy"
        timezone: "UTC"
        lc_messages: "C"
        lc_monetary: "C"
        lc_numeric: "C"
        lc_time: "C"
        default_text_search_config: "pg_catalog.english"
        deadlock_timeout: 1s
        array_nulls: "on"
        backslash_quote: safe_encoding
        default_with_oids: "off"
        escape_string_warning: "on"
        lo_compat_privileges: "off"
        operator_precedence_warning: "off"
        quote_all_identifiers: "off"
        sql_inheritance: "on"
        standard_conforming_strings: "on"
        synchronize_seqscans: "on"
        log_line_prefix: "%t [%p]: [%l-1] user=%u,db=%d,app=%a,client=%h "
        log_statement: "none"

  initdb:
    - encoding: UTF8
    - data-checksums

  pg_hba:
    - local   all             all                                     md5
    - host    all             all             127.0.0.1/32            md5
    - host    all             all             ::1/128                 md5
    - host    all             all             172.18.0.0/16           md5
    - host    all             all             10.0.0.0/8              md5
    - local   replication     all                                     md5
    - host    replication     all             127.0.0.1/32            md5
    - host    replication     all             ::1/128                 md5
    - host    replication     all             172.18.0.0/16           md5
    - host    replication     all             10.0.0.0/8              md5

  users:
    admin:
      password: ${POSTGRESQL_POSTGRES_PASSWORD}
      options:
        - createrole
        - createdb
    ${POSTGRESQL_USERNAME}:
      password: ${POSTGRESQL_PASSWORD}
      options:
        - createrole
        - createdb

postgresql:
  listen: 0.0.0.0:5432
  connect_address: ${PATRONI_NAME}:5432
  data_dir: ${PGDATA}
  pgpass: /tmp/pgpass
  authentication:
    replication:
      username: ${POSTGRESQL_REPLICATION_USER}
      password: ${POSTGRESQL_REPLICATION_PASSWORD}
    superuser:
      username: postgres
      password: ${POSTGRESQL_POSTGRES_PASSWORD}
    rewind:
      username: ${POSTGRESQL_REWIND_USER}
      password: ${POSTGRESQL_REWIND_PASSWORD}
  parameters:
    unix_socket_directories: "/tmp"
    wal_level: logical
    hot_standby: "on"
    max_connections: 100
    max_prepared_transactions: 0
    max_locks_per_transaction: 64
    wal_keep_segments: 8
    max_wal_senders: 10
    max_replication_slots: 10
    track_commit_timestamp: off
    archive_mode: "on"
    archive_timeout: 1800s
    archive_command: "cp %p /var/lib/postgresql/archive/%f"
    shared_buffers: 256MB
    effective_cache_size: 512MB
    work_mem: 4MB
    maintenance_work_mem: 64MB
    checkpoint_completion_target: 0.9
    wal_buffers: 16MB
    default_statistics_target: 100
    random_page_cost: 1.1
    effective_io_concurrency: 200
    min_wal_size: 1GB
    max_wal_size: 4GB
    log_destination: "stderr"
    logging_collector: "on"
    log_directory: "log"
    log_filename: "postgresql-%Y-%m-%d_%H%M%S.log"
    log_rotation_age: 1d
    log_rotation_size: 100MB
    log_min_duration_statement: 1000
    log_checkpoints: "on"
    log_connections: "on"
    log_disconnections: "on"
    log_lock_waits: "on"
    log_temp_files: -1
    log_error_verbosity: verbose
    track_activities: "on"
    track_counts: "on"
    track_io_timing: "on"
    track_functions: all
    stats_temp_directory: "pg_stat_tmp"
    autovacuum: "on"
    log_autovacuum_min_duration: 0
    autovacuum_max_workers: 3
    autovacuum_naptime: 1min
    datestyle: "iso, mdy"
    timezone: "UTC"
    lc_messages: "C"
    lc_monetary: "C"
    lc_numeric: "C"
    lc_time: "C"
    default_text_search_config: "pg_catalog.english"
    deadlock_timeout: 1s
    array_nulls: "on"
    backslash_quote: safe_encoding
    default_with_oids: "off"
    escape_string_warning: "on"
    lo_compat_privileges: "off"
    operator_precedence_warning: "off"
    quote_all_identifiers: "off"
    sql_inheritance: "on"
    standard_conforming_strings: "on"
    synchronize_seqscans: "on"
    log_line_prefix: "%t [%p]: [%l-1] user=%u,db=%d,app=%a,client=%h "
    log_statement: "none"

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false
