apiVersion: v1
kind: Service
metadata:
  name: superset
  namespace: datalyptica-management
  labels:
    app: superset
    layer: analytics
spec:
  type: ClusterIP
  selector:
    app: superset
  ports:
    - name: http
      port: 8088
      targetPort: http
      protocol: TCP
