# Operator Subscriptions for Datalyptica HA Deployment
# These subscriptions install operators from OperatorHub

---
# PostgreSQL Operator - Crunchy Data
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: postgresql-operator
  namespace: openshift-operators
spec:
  channel: v5
  name: postgresql
  source: certified-operators
  sourceNamespace: openshift-marketplace
  installPlanApproval: Automatic

---
# Alternative: Patroni Operator (if Crunchy not available)
# apiVersion: operators.coreos.com/v1alpha1
# kind: Subscription
# metadata:
#   name: patroni-operator
#   namespace: openshift-operators
# spec:
#   channel: stable
#   name: patroni
#   source: community-operators
#   sourceNamespace: openshift-marketplace
#   installPlanApproval: Automatic

---
# MinIO Operator
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: minio-operator
  namespace: openshift-operators
spec:
  channel: stable
  name: minio-operator
  source: certified-operators
  sourceNamespace: openshift-marketplace
  installPlanApproval: Automatic

---
# Strimzi Kafka Operator
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: strimzi-kafka-operator
  namespace: openshift-operators
spec:
  channel: stable
  name: strimzi-kafka-operator
  source: community-operators
  sourceNamespace: openshift-marketplace
  installPlanApproval: Automatic

---
# Redis Enterprise Operator (if available)
# Note: May require subscription/license
# apiVersion: operators.coreos.com/v1alpha1
# kind: Subscription
# metadata:
#   name: redis-enterprise-operator
#   namespace: openshift-operators
# spec:
#   channel: production
#   name: redis-enterprise-operator-cert
#   source: certified-operators
#   sourceNamespace: openshift-marketplace
#   installPlanApproval: Automatic

---
# Flink Kubernetes Operator (Optional - for Phase 4)
# apiVersion: operators.coreos.com/v1alpha1
# kind: Subscription
# metadata:
#   name: flink-kubernetes-operator
#   namespace: openshift-operators
# spec:
#   channel: stable
#   name: flink-kubernetes-operator
#   source: community-operators
#   sourceNamespace: openshift-marketplace
#   installPlanApproval: Automatic
