apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: airflow-webserver
  namespace: datalyptica-management
  labels:
    app: airflow
    component: webserver
    layer: analytics
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: airflow
      component: webserver
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: airflow-scheduler
  namespace: datalyptica-management
  labels:
    app: airflow
    component: scheduler
    layer: analytics
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: airflow
      component: scheduler
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: airflow-worker
  namespace: datalyptica-management
  labels:
    app: airflow
    component: worker
    layer: analytics
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: airflow
      component: worker
