# Grafana Loki Datasource Configuration
# Grafana Version: 12.3.0 (verified Nov 19, 2025)
# Loki Version: 3.6.2 (verified Nov 25, 2025)
apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: true
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: prometheus
          matcherRegex: "traceID=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"
