# Grafana Datasource Configuration
# Grafana Version: 12.3.0 (verified Nov 19, 2025)
# Prometheus Version: 3.8.0 (verified Nov 28, 2025)
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://datalyptica-prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
      queryTimeout: 60s
      httpMethod: POST
    secureJsonData: {}
