apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: prometheus-pdb
  namespace: datalyptica-management
  labels:
    app: prometheus
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: prometheus
