apiVersion: v1
kind: Service
metadata:
  name: prometheus-headless
  namespace: datalyptica-management
  labels:
    app: prometheus
    component: monitoring
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    app: prometheus
  ports:
    - name: http
      port: 9090
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 10901
      targetPort: grpc
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: datalyptica-management
  labels:
    app: prometheus
    component: monitoring
spec:
  type: ClusterIP
  selector:
    app: prometheus
  ports:
    - name: http
      port: 9090
      targetPort: http
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: thanos-sidecar
  namespace: datalyptica-management
  labels:
    app: prometheus
    component: thanos-sidecar
spec:
  clusterIP: None
  selector:
    app: prometheus
  ports:
    - name: grpc
      port: 10901
      targetPort: grpc
      protocol: TCP
    - name: http
      port: 10902
      targetPort: 10902
      protocol: TCP
