apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: grafana-pdb
  namespace: datalyptica-management
  labels:
    app: grafana
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: grafana
