apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: datalyptica-management
  labels:
    app: grafana
    component: monitoring
spec:
  type: ClusterIP
  selector:
    app: grafana
  ports:
    - name: http
      port: 3000
      targetPort: http
      protocol: TCP
