apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: alertmanager-pdb
  namespace: datalyptica-management
  labels:
    app: alertmanager
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app: alertmanager
