apiVersion: v1
kind: Service
metadata:
  name: alertmanager-headless
  namespace: datalyptica-management
  labels:
    app: alertmanager
    component: monitoring
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    app: alertmanager
  ports:
    - name: http
      port: 9093
      targetPort: http
      protocol: TCP
    - name: cluster
      port: 9094
      targetPort: cluster
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: datalyptica-management
  labels:
    app: alertmanager
    component: monitoring
spec:
  type: ClusterIP
  selector:
    app: alertmanager
  ports:
    - name: http
      port: 9093
      targetPort: http
      protocol: TCP
