apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: kafka-ui-pdb
  namespace: datalyptica-management
  labels:
    app: kafka-ui
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: kafka-ui
