apiVersion: v1
kind: Service
metadata:
  name: kafka-ui
  namespace: datalyptica-management
  labels:
    app: kafka-ui
    component: management
spec:
  type: ClusterIP
  selector:
    app: kafka-ui
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
