apiVersion: v1
kind: Service
metadata:
  name: mlflow
  namespace: datalyptica-management
  labels:
    app: mlflow
    layer: analytics
spec:
  type: ClusterIP
  selector:
    app: mlflow
  ports:
    - name: http
      port: 5000
      targetPort: http
      protocol: TCP
