---
apiVersion: v1
kind: Service
metadata:
  name: kafka-connect
  namespace: datalyptica-control
  labels:
    app: kafka-connect
    component: streaming
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8083
      targetPort: 8083
      protocol: TCP
  selector:
    app: kafka-connect
