apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: keycloak-pdb
  namespace: datalyptica-management
  labels:
    app: keycloak
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: keycloak
