---
apiVersion: v1
kind: Service
metadata:
  name: schema-registry
  namespace: datalyptica-control
  labels:
    app: schema-registry
    component: streaming
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8081
      targetPort: 8081
      protocol: TCP
  selector:
    app: schema-registry
  sessionAffinity: None
