---
apiVersion: v1
kind: LimitRange
metadata:
  name: datalyptica-limits
  namespace: datalyptica-storage
spec:
  limits:
    - max:
        cpu: "16"
        memory: "64Gi"
      min:
        cpu: "100m"
        memory: "128Mi"
      default:
        cpu: "2"
        memory: "4Gi"
      defaultRequest:
        cpu: "1"
        memory: "2Gi"
      type: Container
    - max:
        storage: "1Ti"
      min:
        storage: "1Gi"
      type: PersistentVolumeClaim
---
apiVersion: v1
kind: LimitRange
metadata:
  name: datalyptica-limits
  namespace: datalyptica-control
spec:
  limits:
    - max:
        cpu: "8"
        memory: "32Gi"
      min:
        cpu: "100m"
        memory: "128Mi"
      default:
        cpu: "1"
        memory: "2Gi"
      defaultRequest:
        cpu: "500m"
        memory: "1Gi"
      type: Container
---
apiVersion: v1
kind: LimitRange
metadata:
  name: datalyptica-limits
  namespace: datalyptica-data
spec:
  limits:
    - max:
        cpu: "16"
        memory: "64Gi"
      min:
        cpu: "100m"
        memory: "256Mi"
      default:
        cpu: "2"
        memory: "4Gi"
      defaultRequest:
        cpu: "1"
        memory: "2Gi"
      type: Container
---
apiVersion: v1
kind: LimitRange
metadata:
  name: datalyptica-limits
  namespace: datalyptica-management
spec:
  limits:
    - max:
        cpu: "8"
        memory: "32Gi"
      min:
        cpu: "50m"
        memory: "64Mi"
      default:
        cpu: "1"
        memory: "2Gi"
      defaultRequest:
        cpu: "250m"
        memory: "512Mi"
      type: Container
